<div class="col l3 dashboard-nav">
    <img class="circle responsive-img mt-s" src="/images/Tolufolorunso.JPG" alt="hello" style="height: 200px; width: 200px;">
    <!-- <nav class="sidenav"> -->
    <ul class="text-white">
        <li><a href="/dashboard/posts/new"><i class="material-icons">mode_edit</i></a></li>
        <li><a href="/dashboard/posts">All Post</a></li>
    </ul>
    <!-- </nav> -->
</div>