<%- include('adminHeader') %>
    <style>
        .dashboard {
            width: 100%;
            height: 100vh;
        }
        
        .dashboard-nav {
            background-color: #0D47A1;
            height: 100vh;
        }
    </style>
    <main class="dashboard center">
        <div class="row">
            <%- include('dashboard-side') %>
                <div class="col l9">
                    hello
                </div>
        </div>
    </main>