<%- include('../partials/blogHeader') %>
    <div class="white center mt" style="height: 60vh;">
        <h2>Are you the Real admin?</h2>
        <p>Go to the next page to login, good luck, or go back to my <a href="/">portifolio page <i class="material-icons">arrow_back</i></a></p>
    </div>
    <%- include('../partials/footer') %>